/* line 1, ../sass/style.scss */
.addForm {
  display: flex;
  flex-direction: column;
}
/* line 4, ../sass/style.scss */
.addForm input {
  max-width: 250px;
}
/* line 7, ../sass/style.scss */
.addForm label {
  font-weight: bold;
}
/* line 10, ../sass/style.scss */
.addForm input[type=submit] {
  margin-top: 20px;
}

/* line 16, ../sass/style.scss */
#selectForm textarea {
  width: 60%;
  font-weight: bold;
}
/* line 20, ../sass/style.scss */
#selectForm input[type=submit] {
  text-align: center;
  margin-left: 55%;
}

/* line 26, ../sass/style.scss */
#result {
  margin-top: 50px;
}
